<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="block.mdmcellharoa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Web2"/>
        <activity android:name=".SMS_Data" />
        <activity android:name=".Teacher_Details" />
        <activity android:name=".CCH_Details" />
        <activity android:name=".Allotment" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Sample_Format" />
        <activity android:name=".Report_Feedback" />
        <activity android:name=".Report_Coverage" />
        <activity android:name=".Report_attendance" />
        <activity android:name=".Add_Notice" />
        <activity android:name=".Mobile_Registration" />
        <activity android:name=".Admin_Dashboard" />
        <activity android:name=".Admin_Login" />
        <activity android:name=".Miscellaneous" />
        <activity android:name=".Attendance" />
        <activity android:name=".ErrorPage" />
        <activity android:name=".Validation" />
        <activity android:name=".Feedback" />
        <activity android:name=".Coverage" />
        <activity android:name=".web" />
        <activity android:name=".Distribution" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Details"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".PhoneRegister"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddItem" />
        <activity android:name=".Login" />
        <activity android:name=".ListItem" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MyFcmTextMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>